<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/0xNaN">GitHub</a></li>
      <li>You can find me on <a href="https://plus.google.com/114527634308979410445">Google+</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>You can contact me on <span style="unicode-bidi:bidi-override;direction:rtl;">ti.liamg@occicidozne</span> <br> also with my 
          <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xC94169A1BDE83116">GPG KEY</a></li>
  </ul>
  <ul class="toolbox">
      <li><h3>Hi! I'm Vincenzo di Cicco aka <em>NaN</em></h3></li>
      <li>I'm a student of Informatic Engineering at Third University of Rome.<br>
      I like to develop FOSS and keep me updated about this world. <br>
      My principal language is C/C++ but I know other technology like PHP, Java, and now I’m learning Python.</li>
  </ul>
  <br style="clear:both;">

</div>
